@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
html,
body {
    overflow-x: hidden;
}

@media screen and (min-width: 481px) {
    #warningMessage {
        padding-top: 35vh;
        width: 100%;
    }
    #page-content {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .mobileDevice {
        float: right;
    }
    /*    Disables the warning  */
    #warningMessage {
        display: none;
    }
    #navbar-logo {
        background-color: black;
        height: 50px;
        display: table;
        table-layout: fixed;
    }
    #navbar-logo h1 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .logo {
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
    }
    .logo>.thin {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
    }
    /*    navbar menu collaps   */
    #collapseButton>a {
        color: #fff;
        background-color: #000;
        font-size: 22px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        /*        Fix the buttom on bottom of page*/
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 3;
    }
    #collapseButton>a>i {
        padding-top: 13px;
    }
    /*    Navbar properties     */
    #navbar>#collapse-navbar>.collapse-body {
        background-color: #000;
        bottom: 0;
        right: 35px;
        height: 50px;
        width: 186px;
        position: fixed;
        /*        margin-left: 0 auto;*/
        color: #fff;
    }
    #navbar>#collapse-navbar>.navCircle {
        background-color: red;
        width: 50px;
        height: 50px;
        position: fixed;
        background: #000;
        bottom: 10px;
        border-radius: 100%;
        right: 195px;
        z-index: 0;
    }
    .collapse-body {
        list-style: none;
        display: flex;
    }
    .collapse-body>a {
        color: #fff;
    }
    .collapse-body>a:focus,
    .collapse-body>a:hover {
        color: #777;
    }
    .navbar-item span {
        display: none;
    }
    .navbar-item>.icon {
        font-size: 30px;
        letter-spacing: 72px;
        padding-top: 9px;
        margin-left: -40px;
    }
    .navbar-item>.portifolio {
        padding-top: 11px;
    }
    .closeMenu>a>i {
        color: red;
    }

}
