@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@media screen and (max-width: 480px) {
    #navbar-logo {
        background-color: black;
        height: 50px;
        display: table;
        table-layout: fixed;
    }
    #navbar-logo h1 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .logo {
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
    }
    .logo>.thin {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
    }
    
    
    
    /*    navbar menu collaps   */
    #collapseButton {
        color: #fff;
        background-color: #000;
        font-size: 25px;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        
/*        Fix the buttom on bottom of page*/
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    
    
}

#collapse-navbar {
    background-color: #ccf;
}

.collapse-body {
    list-style: none;
}


}
